---
import DashboardLayout from '@/layouts/DashboardLayout.astro'
import { ReportTable } from '@/components/ReportTable'

const { cookies, redirect } = Astro
const accessToken = cookies.get('sb-access-token')
const refreshToken = cookies.get('sb-refresh-token')

if (!accessToken && !refreshToken) {
  return redirect('/login')
}
---

<DashboardLayout title='Dashboard | Teams'>
  <ReportTable client:load>
    <div slot="fallback">Loading</div>
  </ReportTable>
  <h1>Hello from the Dashboard reports page!</h1>
</DashboardLayout>
